{# src/OC/PlateformBudle/Resources/views/Goodbye/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>A bientôt sur OpenClassrooms !</title>
    </head>
    <body>
        <h1>Good Bye {{nom}} !</h1> 

        <p>
            A bientôt sur OpenClassrooms !
        </p>
    </body>
</html>
