{# src/OC/PlateformBudle/Resources/views/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Affichage de l'annonce {{id}} !</title>
    </head>
    <body>
        <h1>
            Hello c'est l'annonce n°{{id}} !
        </h1>
        

        <div>
       {# affiche tous les messages flash dont le nom est info #}
       {% for message in app.session.flashbag.get('info') %} 
            <p>Message flash : {{message}}</p>
       {% endfor %}
        </div>
    </body>
</html>
